<!DOCTYPE html>
{%load staticfiles%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Skifer</title>

    <!-- Bootstrap core CSS
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="{%static './css/bootstrap.min.css' %}" rel="stylesheet">    

    <!-- Custom styles for the Flatty template -->
    <link href="{%static './css/flatty.css' %}" rel="stylesheet"> 

        <!-- Custom Full-slider CSS -->
    <link href="http://ironsummitmedia.github.io/startbootstrap-full-slider/css/full-slider.css" rel="stylesheet">

    <!-- Custom styles for this jumbotron template
    <link href="http://getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet"> -->
    <!-- <link href="{%static './css/jumbotron.css' %}" rel="stylesheet"> -->

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>

    <style type="text/css">
    	body {
			padding-top: 0px;
			padding-bottom: 0px;
		}
    .navbar-inverse .navbar-brand, .navbar-brand:hover {
      color: white;
      background-color: #3498DB;
    }
    .navbar {
      color: white;
      border-radius: 0px ! important;
      margin-bottom: 0px ! important;
      background-color: #3498DB;
    }
  
    </style>

    {%block styles%}
    {%endblock%}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    
  	{%block content%}
	
    {% endblock %}

    <!-- <div class="jumbotron" style = "background-color:white; margin-bottom:2px">
      <div class="container">
        <div class = 'row'>

          <div class = "col-md-4">
            <h3 style = "font-family: Oswald">Quick Links</h3>
            <ul style = "font-family: Oswald">
              <li><a href="/legal">About</a></li>
              <li><a href="/legal">Legal Disclaimer</a></li>
            </ul>
          </div>

          <div class = "col-md-4" style = "text-align: center">
            <i class="fa fa-paint-brush fa-3x"></i><br><br>
            <ul class="fa-ul" style = "font-family: Oswald">
              <li><i class="fa-li fa fa-asterisk"></i>Design a logo as per the specifications below,</li>
              <li><i class="fa-li fa fa-asterisk"></i><a href="">specifications</a></li> -->
         <!-- <li><i class="fa-li fa fa-asterisk fa-spin"></i>as bullets</li>
              <li><i class="fa-li fa fa-asterisk fa-spin"></i>in lists</li> -->
            <!-- </ul>
          </div>

          <div class = "col-md-4 pull-right" style = "text-align: right"> -->
              <!-- Facebook -->
              <!-- <a href="https://www.facebook.com/Skifer.in"><i class="fa fa-facebook-square fa-2x" style = "color:#3A5795"></i></a> -->
              <!-- Twitter -->
             <!--  <a href=""><i class="fa fa-twitter-square fa-2x" style = "color:#5EA9DD"></i></a> -->
              <!-- Google Plus -->
              <!-- <a href=""><i class="fa fa-google-plus-square fa-2x" style = "color:#DD4B39"></i></a> -->
              <!-- Linkedin -->
              <!-- <i class="fa fa-linkedin-square fa-2x" style = "color:#0177B5"></i> -->
              <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
           <!-- </div>
        </div>
      </div>
    </div> -->

    <div class="row" style="margin-top:0px;background-color:white;">
    <div class="container" style='text-align:center; padding: 10px;'>
      <footer>
        <p style = "font-family:Amaranth"><i class="fa fa-copyright"></i><!-- &copy; --> Skifer 2015</p>
      </footer>
    </div> <!-- /container -->
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    

    <!--<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>-->
    <script src="{%static './js/bootstrap.min.js' %}"></script>
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>